/**** Variables ****/

$pale-green: #e9f1b2;
$light-pale-green: #f0f4d3;
$med-green: #bcc776;
$dark-med-green: #a3af4e;

$light-brown: #9f7f62;
$dark-brown: #8f6d4c;

$light-pale-yellow: #fef7e6;
$pale-yellow: #ffeec4;
$dark-yellow: #ebd3a8;

$very-light-gray: #eaeae8;
$light-gray: #cecece;
$med-gray: #a4a4a4;
$dark-med-gray: #8b8b8b;

$title-font: "Comfortaa", cursive;
$main-accent: $light-brown;
$accent-hover: $dark-brown;

/**** Responsive Template ****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}

/**** General ****/

h1,
h2,
h3,
h4 {
  font-family: $title-font;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

/**** General - Responsive ****/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  section {
    height: 42rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    height: 50rem;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    height: 50rem;
  }
}

/**** Reusable ****/

button {
  background-color: $main-accent;
  color: $light-pale-yellow;
}

/**** Navbar ****/

.nav-bar {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-family: $title-font;
  font-weight: 700;
  color: $main-accent;
  background-color: rgb(254, 247, 230, 0.8);

  position: sticky;
  top: 0;

  .left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 3rem;
      padding-top: 0.3rem;
    }
    .logo:hover {
      color: $accent-hover;
    }
  }

  .nav-links {
    display: flex;
    padding: 0 1rem;
    .nav-item {
      padding: 0 2rem;
      font-size: 1.3rem;
    }
    .nav-item:hover {
      color: $accent-hover;
    }
    .nav-divider {
      font-size: 1.3rem;
    }
  }

  .hamburger-react {
    display: none;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0.5rem 2rem;
    height: 6rem;
    .nav-links {
      display: none;
    }
    .hamburger-react {
      display: block;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding-top: 1rem;
    height: 8rem;
    .logo {
      padding-left: 2rem;
    }

  }
  @media only screen and (min-width: 1024px) {
    height: 8rem;
    .left-nav {
      margin-left: 7.5%;
    }
    .right-nav {
      margin-right: 7.5%;
    }
  }
}

/**** Hamburger Menu ****/

.menu-window-active {
  height: 29rem;
  transition: ease height 1s;
  margin-top: 3rem;
  overflow: hidden;
}

.menu-window-inactive {
  height: 0;
  overflow: hidden;
  transition: ease height 1s;
}

.menu-window {
  visibility: hidden;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    visibility: visible;
  }
  font-family: $title-font;
  font-size: 2rem;
  font-weight: 700;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  margin: auto;
  background-color: $dark-brown;
  color: $light-pale-yellow;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    padding: 1.2rem;
    hr {
      width: 100%;
      border-top: 2px solid $light-pale-yellow;
    }
  }
  li {
    padding: 1.2rem 0rem;
    text-align: center;
  }
  li:hover {
    color: white;
  }
}

/**** Hero ****/

.hero-container {
  margin: auto;
  font-family: $title-font;
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 4rem;
      color: $accent-hover;
    }
    p {
      font-size: 1.5rem;
      color: $main-accent;
    }
  }
  .hero-banner {
    width: 50rem;
  }
  .banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 18rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 2rem;
    background-color: $main-accent;
    color: $light-pale-yellow;
  }
  .banner-button:hover {
    background-color: $accent-hover;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .hero-text {
      position: relative;
      top: 4rem;
      line-height: 3.5rem;
      h1 {
        font-size: 4rem;
      }
    }
    .hero-banner {
      position: relative;
      width: 150%;
      left: -20%;
    }
    .banner-button {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    .banner-button {
      display: none;
    }
  }

  @media only screen and (min-width: 1024px) {
    background-image: url("./assets/banner-overlay.png");
    background-repeat: no-repeat;
    .hero-banner {
      display: none;
    }

    height: 42rem;
    background-position: 100% 0%;
    background-size: 800px;
    .hero-text {
      position: relative;
      width: 45rem;
      top: 25%;
      left: 5%;
      line-height: 4rem;
    }
  }
  @media only screen and (min-width: 1300px) and (max-width: 1439px) {
    height: 42rem;
    background-position: 100% 50%;
    background-size: 900px;
    .hero-text {
      top: 25%;
      left: 5%;
    }
  }
  @media only screen and (min-width: 1440px) {
    background-position: 105% 100%;
    background-size: 1100px;
    height: 50rem;
    .hero-text {
      top: 30%;
      left: 5%;
    }
  }
}

/**** About ****/

.about-container {
  background-color: $dark-yellow;
}
