/**** Variables ****/

$pale-green: #e9f1b2;
$light-pale-green: #f0f4d3;
$med-green: #bcc776;
$dark-med-green: #a3af4e;

$light-brown: #9f7f62;
$dark-brown: #8f6d4c;

$light-pale-yellow: #fef7e6;
$pale-yellow: #ffeec4;
$dark-yellow: #ebd3a8;

$very-light-gray: #eaeae8;
$light-gray: #cecece;
$med-gray: #a4a4a4;
$dark-med-gray: #8b8b8b;

$title-font: "Comfortaa", cursive;
$body-font: "Raleway", sans-serif;
$main-accent: $light-brown;
$accent-hover: $dark-brown;

/**** Responsive Template ****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}

/**** General ****/

h1,
h2,
h3,
h4 {
  font-family: $title-font;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: $body-font;
}

/**** General - Responsive ****/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-container {
    margin: 2rem auto;
    width: 85%;
    height: 85%;
    background-color: $light-pale-yellow;
    border-radius: 2rem;
    padding: 1rem;
    h2 {
      text-align: center;
      margin: 1rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-container {
    margin: 2rem auto;
    width: 85%;
    height: 85%;
    background-color: $light-pale-yellow;
    border-radius: 2rem;
    padding: 1rem;
    h2 {
      margin: 1rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 1025px) {
  section {
    height: 52rem;
    max-width: 2000px;
    margin: auto;
  }
  .section-container {
    margin: auto;
    width: 85%;
    height: 85%;
    background-color: $light-pale-yellow;
    border-radius: 4rem;
    h2 {
      margin: 2rem;
      text-align: center;
      font-size: 2.5rem;
    }
  }
}

/**** Reusable ****/

button {
  background-color: $main-accent;
  color: $light-pale-yellow;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**** Navbar ****/

.nav-wrapper {
  z-index: 99;
  color: $main-accent;
  background-color: rgb(254, 247, 230, 0.8);
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-family: $title-font;
  font-weight: 700;

  .left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 3rem;
      padding-top: 0.3rem;
    }
    .logo:hover {
      color: $accent-hover;
    }
  }

  .nav-links {
    display: flex;
    padding: 0 1rem;
    .nav-item {
      padding: 0 2rem;
      font-size: 1.3rem;
    }
    .nav-item:hover {
      color: $accent-hover;
    }
    .nav-divider {
      font-size: 1.3rem;
    }
    svg {
      width: 0.7rem;
      padding-left: 0.2rem;
    }
  }

  .hamburger-react {
    display: none;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0.5rem 2rem;
    height: 6rem;
    .nav-links {
      display: none;
    }
    .hamburger-react {
      display: block;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding-top: 1rem;
    height: 8rem;
    .logo {
      padding-left: 2rem;
    }
  }
  @media only screen and (min-width: 1025px) {
    height: 8rem;
    .left-nav {
      margin-left: 7.5%;
    }
    .right-nav {
      margin-right: 7.5%;
    }
  }
  max-width: 2000px;
}

/**** Hamburger Menu ****/

.menu-window-active {
  height: 29rem;
  transition: ease height 1s;
  margin-top: 3rem;
  overflow: hidden;
}

.menu-window-inactive {
  height: 0;
  overflow: hidden;
  transition: ease height 1s;
}

.menu-window {
  visibility: hidden;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    visibility: visible;
  }
  font-family: $title-font;
  font-size: 2rem;
  font-weight: 700;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  margin: auto;
  background-color: $dark-brown;
  color: $light-pale-yellow;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    padding: 1.2rem;
    hr {
      width: 100%;
      border-top: 2px solid $light-pale-yellow;
    }
  }
  li {
    padding: 1.2rem 0rem;
    text-align: center;
  }
  li:hover {
    color: white;
  }
  svg {
    width: 1rem;
    padding-left: 0.5rem;
  }
}

/**** Hero ****/

.hero-container {
  margin: auto;
  font-family: $title-font;
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 4rem;
      color: $accent-hover;
    }
    p {
      font-size: 1.5rem;
      color: $main-accent;
    }
  }
  .hero-banner {
    width: 50rem;
  }
  .banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 18rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 2rem;
    background-color: $main-accent;
    color: $light-pale-yellow;
  }
  .banner-button:hover {
    background-color: $accent-hover;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .hero-text {
      position: relative;
      top: 4rem;
      line-height: 3.5rem;
      h1 {
        font-size: 4rem;
      }
    }
    .hero-banner {
      position: relative;
      width: 150%;
      left: -20%;
    }
    .banner-button {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .hero-text {
      position: relative;
      top: 6rem;
      line-height: 3.5rem;
      h1 {
        font-size: 4rem;
      }
    }
    .hero-banner {
      width: 90%;
      margin: auto;
    }
    .banner-button {
      display: none;
    }
  }

  @media only screen and (min-width: 1025px) {
    background-image: url("./assets/banner-overlay.png");
    background-repeat: no-repeat;
    .hero-banner {
      display: none;
    }

    height: 44rem;
    background-position: 100% 0%;
    background-size: 800px;

    .hero-text {
      position: relative;
      width: 45rem;
      top: 25%;
      left: 5%;
      line-height: 4rem;
    }
  }
  @media only screen and (min-width: 1300px) and (max-width: 1439px) {
    height: 42rem;
    background-position: 100% 50%;
    background-size: 900px;
    .hero-text {
      top: 25%;
      left: 5%;
    }
  }
  @media only screen and (min-width: 1440px) {
    background-position: 105% 100%;
    background-size: 1100px;
    height: 50rem;
    .hero-text {
      top: 30%;
      left: 5%;
    }
  }
}

/**** About ****/

.about-wrapper {
  width: 100%;
  background-color: $dark-yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  color: $dark-brown;
  padding: 1.5rem;
  p {
    margin: 1rem 0;
    hyphens: auto;
  }
  .about-img {
    border: 1px solid black;
  }
  .contact {
    display: flex;
    align-self: flex-start;
    margin-left: 3rem;
    gap: 1rem;
    .contact-icon {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2.5rem;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    .about-img {
      order: 0;
      height: 12rem;
    }
    .about-text {
      order: 2;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    .about-body {
      display: flex;
      justify-content: center;
      align-items: center;
      .about-text {
        order: 1;
        width: 60%;
        margin: 0 1rem;
      }
      .about-img {
        order: 0;
        height: 15rem;
        width: 30%;
        margin: 1rem;
      }
    }
  }

  @media only screen and (min-width: 1025px) {
    flex-direction: column;
    align-items: center;
    .about-body {
      display: flex;
      justify-content: center;
      width: 90%;
      .about-text {
        order: 0;
        width: 60%;
        margin: 0 1rem;
        font-size: 1.3rem;
      }
      .about-img {
        order: 1;
        height: 15rem;
        width: 30%;
        margin: 1rem;
      }
    }
  }
}

/**** Projects ****/
.projects-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.projects {
  background-color: $dark-yellow;
  padding: 1rem;
  .projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-pale-yellow;
    border-radius: 2rem;
    .project-img {
      border: 1px black solid;
      height: 60%;
      width: 100%;
      border-radius: 0.3rem;
      align-self: center;
      margin-bottom: 0.8rem;
    }
    .title-box {
      display: flex;
      justify-content: space-between;
      .links {
        display: flex;
        margin: 0;
        padding: 0;
        color: $dark-med-green;
        gap: 0.5rem;
        font-weight: 700;
      }
      h3 {
        font-size: 1.2rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 0.9rem;
    }
    .stack {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      li {
        text-align: center;
        font-size: 0.8rem;
        background-color: $med-green;
        width: 4.5rem;
        border-radius: 0.6rem;
        margin: 0 0.2rem;
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .project-card {
      height: 20rem;
      margin: 0.5rem;
      padding: 1.5rem;
      .title-box {
        flex-direction: column;
      }
      .stack {
        flex-wrap: wrap;
        gap: 0.3rem;
        li {
          width: 5.5rem;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  }

  @media only screen and (min-width: 1025px) {
    margin: 4rem;
    .projects-list {
      width: 90%;
      margin: auto;
    }
    .project-card {
      width: 25rem;
      height: 25rem;
      padding: 2rem;
      margin: 1rem;
    }
  }
}
